{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{% endblock %}

{% block content %}
<h1 class="page-header">{{commit.title}}</h1>
<ul class="list-group">
  <li class="list-group-item">Project: <a href="{{url_for('project', project_id=project.id)}}">{{project.name}}</a></li>
  <li class="list-group-item">Commit: <span class="sha1">{{commit.sha1}}</span></li>
  <li class="list-group-item">Author: <a href="{{url_for('user', author=commit.author)}}">{{commit.author}}</a> at {{commit.timestamp|datetime}}</li>
  <li class="list-group-item">Code Fat: {{commit.codefat|round(2)}}% ({{commit.floc|round(2)}}/{{commit.sloc}})</li>
  <li class="list-group-item">Parents: 
    {% for p in commit.parents %}
    <a href="{{url_for('commit', project_id=project.id, sha1=p)}}" class="sha1">{{p | truncate(7,True,'')}}</a>
    {% endfor %}
  </li>
  <li class="list-group-item">
  <pre>{{commit.message}}</pre>
  </li> 
</ul>

<h2 class="sub-header">File List: {{diffs|length}} file(s) <small>Java files only without tests</small></h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Path</th>
				<th>SLOC</th>
				<th>Code Fat</th>
			</tr>
		</thead>
		<tbody>
			{% for diff in diffs %}
			<tr>
				<td> <a href='{{url_for('diff', project_id=project.id, sha1=commit.sha1, old=diff.old.sha1, new=diff.new.sha1)}}' class="diff-status-{{diff.status}}"> {{diff.new.filename}} </a></td>
				<td>{{diff.old.sloc}} => {{diff.new.sloc}}</td>
				<td>{{diff.old.codefat|float2}}% => {{diff.new.codefat|float2}}%</td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
