{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

function drawChart() {
  var json = $.ajax({
    url: "/api/project/{{project_id}}",
    dataType:"json",
    async: false
  }).responseText;

  json = jQuery.parseJSON(json);
  for ( var i = 0; i < json.rows.length; i++ ) { 
        json.rows[i].c[0].v = new Date( json.rows[i].c[0].v * 1000 );
  }
  // Create our data table out of JSON data loaded from server.
  var data = new google.visualization.DataTable(json);

  var options = {
    series:{1:{targetAxisIndex:1}},
    vAxes:[
      {
      title:'code fat',
//      viewWindowMode: 'explicit',
//      viewWindow:{max:50, min:0}
      }, 
      {title:'sloc',textStyle:{color: 'red'}} // Axis 1
           ],
    explorer: { actions: ['dragToZoom', 'rightClickToReset'] } ,
    width: 600,
    height: 340
  };
  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  chart.draw(data, options); 
}  
</script>
{% endblock %}

{% block content %}
<h1 class="page-header">Commit Info</h1>
<ul class="list-group">
  <li class="list-group-item">Project: <a href="{{url_for('project', project_id=project.id)}}">{{project.name}}</a></li>
  <li class="list-group-item">Author: <a href="{{url_for('user', email=commit.author)}}">{{commit.author}}</a></li>
  <li class="list-group-item">Code Fat: {{commit.codefat|float2}}%</li>
  <li class="list-group-item">SLOC: {{commit.sloc}}</li>
</ul>
<div id="chart_div"></div>

<h2 class="sub-header">File List: {{diffs|length}} file(s) <small>Java files only without tests</small></h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Path</th>
				<th>SLOC</th>
				<th>Code Fat</th>
			</tr>
		</thead>
		<tbody>
			{% for diff in diffs %}
			<tr>
				<td> <span class="diff-status-{{diff.status}}" /> {{diff.new.filename}} </td>
				<td>{{diff.old.sloc}} => {{diff.new.sloc}}</td>
				<td>{{diff.old.codefat|float2}}% => {{diff.new.codefat|float2}}%</td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
