{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">Diff</h1>

<ul class="list-unstyled diff-list">
  {% for line in lines %}
  <li class="diff-text-{{line.kind}}">{{line.text}}</li>
  {% endfor %}
</ul>
<!--
<div id="column1-wrap">
    <div id="diff-old" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">old</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled diff-list">
        {% for line in old_lines %}
        <li><span class="diff-text-{{line.kind}}">{{line.text}}</span></li>
        {% endfor %}
        </ul>
      </div>
    </div>
</div>
<div id="diff-new" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">new</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled diff-list">
    {% for line in new_lines %}
    <li><span class="diff-text-{{line.kind}}">{{line.text}}</span></li>
    {% endfor %}
    </ul>
  </div>
</div>
<div id="clear"></div>
-->

{% endblock %}
