{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

function drawChart() {
  var json = $.ajax({
    url: "/api/project/{{project.id}}",
    dataType:"json",
    async: false
  }).responseText;

  json = jQuery.parseJSON(json);
  for ( var i = 0; i < json.rows.length; i++ ) { 
        json.rows[i].c[0].v = new Date( json.rows[i].c[0].v * 1000 );
  }
  // Create our data table out of JSON data loaded from server.
  var data = new google.visualization.DataTable(json);

  var options = {
    series:{1:{targetAxisIndex:1}},
    vAxes:[
      {
      title:'code fat',
      }, 
      {title:'sloc',textStyle:{color: 'red'}} // Axis 1
           ],
    explorer: { actions: ['dragToZoom', 'rightClickToReset'] } ,
    width: 600,
    height: 340
  };
  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  chart.draw(data, options); 
}  
</script>
{% endblock %}

{% block content %}
<h1 class="page-header">{{project.name}}</h1>
 <div class="container">
  <div class="row">
   <div class="col-md-4">
    <ul class="list-group">
     <li class="list-group-item">Code Fat: <span style="font-size: 5em;">{{summary.codefat_i}}<small>.{{summary.codefat_f}}%</small></span> </li>
     <li class="list-group-item">Total SLOC: {{summary.total_sloc}} </li>
     <li class="list-group-item">Total FLOC: {{summary.total_floc}} </li>
    </ul>
   </div>
   <div class="col-md-8" id="chart_div">
        loading..
   </div>
  </div>
 </div>
<h2 class="sub-header">Recent Commits</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Committed by</th>
				<th>When</th>
				<th>&Delta;SLOC</th>
				<th>&Delta;FLOC</th>
				<th>&Delta;Code Fat</th>
			</tr>
		</thead>
		<tbody>
			{% for commit in commits %}
			<tr>
				<td><a class="sha1" href="{{url_for('commit', project_id=project.id,sha1=commit.sha1)}}">{{commit.sha1|truncate(7,True,'')}}</a></td>
				<td><a href="{{url_for('user', author=commit.author)}}">{{commit.author}}</a></td>
				<td>{{commit.timestamp|datetime}}</td>
				<td>{{commit.delta_sloc}}</td>
				<td>{{commit.delta_floc|round(2)}}</td>
				<td>{{commit.delta_codefat|round(2)}}%</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
