{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(function () { 
  $.ajax({ 
    url: "/api/trend", 
    dataType:"json", 
    success: drawChart});
});

function drawChart(json) {
	console.log(json);
  // Create our data table out of JSON data loaded from server.
  var data = new google.visualization.DataTable();
  data.addColumn('number', 'day');
  data.addColumn('number', 'Code Fat');
  data.addColumn('number', 'SLOC');
  data.addRows(json['result']);
  var options = {
    series:{1:{targetAxisIndex:1}},
    vAxes:[
      {
      title:'code fat',
//      viewWindowMode: 'explicit',
//      viewWindow:{max:50, min:0}
      }, 
      {title:'sloc',textStyle:{color: 'red'}} // Axis 1
           ],
    explorer: { actions: ['dragToZoom', 'rightClickToReset'] } ,
    width: 600,
    height: 340
  };
  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  chart.draw(data, options); 
}  
</script>
{% endblock %}



{% block content %}
 <h1 class="page-header">Overview <small id='project_count'></small>
  <!--a href="{{ url_for('update_repositories') }}" class="btn">update</a-->
 </h1>
 <div class="container">
   <div class="row">
     <div class="col-md-4">
       <ul class="list-group">
         <li class="list-group-item">Code Fat: <span style="font-size: 5em;">{{summary.codefat_i}}<small>.{{summary.codefat_f}}%</small></span> </li>
         <li class="list-group-item">Total SLOC: {{summary.total_sloc}} </li>
         <li class="list-group-item">Total FLOC: {{summary.total_floc}} </li>
       </ul>
     </div>
     <div class="col-md-8" id="chart_div">
	     loading..
     </div>
   </div>
   
  </div>

  <h2 class="sub-header">Project List</h2>
  <div class="table-responsive">
  <table class="table table-striped">
	  <thead>
   <tr>
    <th>Name</th>
    <th>Code Fat</th>
    <th># of Lines</th>
    <th>Last Commit</th>
    <th>Actions</th>
   </tr>
   </thead>
   <tbody>
  {% for project in projects %}
    <tr>
      <td><a href="{{ url_for('project', project_id=project.id) }}">{{ project.name }}</a></td>
      <td>{{ project.codefat|round(2)}}%</td>
      <td>{{ project.sloc }} </td>
      <td><a href="{{url_for('commit',project_id=project.id,sha1=project.commit.sha1)}}">{{ project.last_update }}</a></td>
      <td>
	      <a href="{{ url_for('update', project_id=project.id) }}" class="btn"><span class="glyphicon glyphicon-refresh"></span></a> 
	      <a href="{{ url_for('delete', project_id=project.id) }}" class="btn"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
  {% else %}
    <tr><td colspan="3">Unbelievable. No entries here so far</td></tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}
