{% extends "dashboard.html" %}

{% block content %}
 <h1 class="page-header">Users</h1>
  <div>
	Total: {{ users|length }}
  </div>

  <h2 class="sub-header">List</h2>
  <div class="table-responsive">
  <table class="table table-striped">
	  <thead>
   <tr>
    <th>email</th>
    <th># of Commits</th>
    <th>Projects</th>
   </tr>
   </thead>
   <tbody>
  {% for user in users %}
    <tr>
      <td>{{user.email}}</td>
      <td>{{user.no_commits}} </td>
      <td>
        {% for project in user.projects %}
	  <a href="{{ url_for('project', project_id=project.id) }}" class="label label-default">{{project.name}}</a>
        {% endfor %}
     </td>
  {% else %}
    <tr><td colspan="3">Unbelievable. No users here so far</td></tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}
