{% extends "dashboard.html" %}

{% block  head %}
{{super()}}

<script>
$(document).ready(function() 
{ 
	$("#mytable").tablesorter(); 
} 
);
				    
</script>

{% endblock %}

{% block content %}
 <h1 class="page-header">{{ pagination.total_count }} User(s)</h1>

  <div class="table-responsive">
  <table id='mytable' class="table table-condensed tablesorter">
	  <thead>
   <tr>
    <th>Author</th>
    <th># of Commits</th>
    <th>Projects</th>
    <th>&Sigma; &Delta; SLOC</th>
    <th>&Sigma; &Delta; FLOC</th>
   </tr>
   </thead>
   <tbody>
  {% for user in users %}
    <tr>
	    <td><a href="{{url_for('user', author=user.author)}}">{{user.author}}</a></td>
      <td>{{user.no_commits}} </td>
      <td>
        {% for project in user.projects %}
	  <a href="{{ url_for('project', project_id=project.id) }}" class="label label-default">{{project.name}}</a>
        {% endfor %}
     </td>
     <td>{{user.sum_delta_sloc}}</td>
     <td>{{user.sum_delta_floc}}</td>
  {% else %}
    <tr><td colspan="3">Unbelievable. No users here so far</td></tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
  <div class="col-md-12 text-center">
  {% from '_helpers.html' import render_pagination with context %}
  {{render_pagination(pagination)}}
  </div>
{% endblock %}


