{% extends "dashboard.html" %}

{% block content %}
<h1 class="page-header">{{user.author}} </h1>
 <ul class="list-group">
   <li class="list-group-item"># of Commits: {{user.no_commits}}</li>
   <li class="list-group-item">Projects:
   {% for project in user.projects %}
   <a href='{{url_for('project', project_id=project.id)}}'>{{project.name}}</a>
   {% endfor %}
   </li>
   <li class="list-group-item">&Sigma; &Delta;SLOC: {{user.sum_delta_sloc}}</li>
   <li class="list-group-item">&Sigma; &Delta;FLOC: {{user.sum_delta_floc}}</li>
 </ul>

<h2 class="sub-header">Commits by {{user.author}}</h2>
  <div class="table-responsive">
  <table class="table table-striped">
   <thead>
   <tr>
     <th>ID</th>
     <th>Project</th>
     <th>Title</th>
     <th>When</th>
     <th>&Delta;SLOC</th>
     <th>&Delta;FLOC</th>
     <th>&Delta;Code Fat</th>
   </tr>
   </thead>
   <tbody>
  {% for c in commits %}
    <tr>
      <td><a class='sha1' href="{{url_for('commit', project_id=c.project_id, sha1=c.sha1)}}">{{c.sha1|truncate(7,True,'')}}</a></td>
      <td><a href="{{url_for('project', project_id=c.project_id)}}" class="label label-default">{{c.project_name}}</a></td>
      <td><a href="{{url_for('commit', project_id=c.project_id,sha1=c.sha1)}}"
        >{{c.title}}</a></td>
      <td>{{c.timestamp|date}}</td>
      {% if c.merge %}
			<td colspan="3" style="text-align:center">merge commit</td>
			{% elif c.sloc == 0 %}
			<td colspan="3" style="text-align:center">compile error</td>
      {% else %}
      <td>{{c.delta_sloc}}</td>
      <td>{{c.delta_floc|round(2)}}</td>
      <td>{{c.delta_codefat|round(2)}}%</td>
      {% endif %}
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}
