{% extends "dashboard.html" %}

{% block content %}
<h1 class="page-header"><small>User</small> {{user.email}} </h1>

<h2 class="sub-header">Commits by {{user.email}}</h2>
  <div class="table-responsive">
  <table class="table table-striped">
   <thead>
   <tr>
     <th>ID</th>
     <th>Project</th>
     <th>&Delta;SLOC</th>
     <th>&Delta;FLOC</th>
     <th>&Delta;Code Fat</th>
   </tr>
   </thead>
   <tbody>
  {% for c in commits %}
    <tr>
      <td><a class='sha1' href="{{url_for('commit', project_id=c.project_id, sha1=c.sha1)}}">{{c.sha1|truncate(7,True,'')}}</a></td>
      <td><a href="{{url_for('project', project_id=c.project_id)}}" class="label label-default">{{c.project_name}}</a></td>
      <td>{{c.delta_sloc}}</td>
      <td>{{c.delta_floc|round(2)}}</td>
      <td>{{c.delta_codefat|round(2)}}%</td>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}
