Flask==0.10.1
Flask-Bootstrap==3.1.1.1
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
amqp==1.4.4
anyjson==0.3.3
billiard==3.3.0.16
celery==3.1.10
coverage==3.7.1
hiredis==0.1.2
itsdangerous==0.23
kombu==3.0.14
ply==3.4
plyj==0.0.1
py==1.4.20
pygit2==0.20.2
pytest==2.5.2
pytz==2014.2
redis==2.9.1
sh==1.09
wsgiref==0.1.2
