{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block title %}Metr{% endblock %}

{% block navbar %}
{{super()}}
  <div class="navbar navbar-fixed-top">
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
{% endblock %}

{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}

{% block content %}
{{super()}}
{% endblock %}


