{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

function drawChart() {
  var json = $.ajax({
    url: "/api/project/{{project.id}}",
    dataType:"json",
    async: false
  }).responseText;

  json = jQuery.parseJSON(json);
  for ( var i = 0; i < json.rows.length; i++ ) { 
        json.rows[i].c[0].v = new Date( json.rows[i].c[0].v * 1000 );
  }
  // Create our data table out of JSON data loaded from server.
  var data = new google.visualization.DataTable(json);

  var options = {
    series:{1:{targetAxisIndex:1}},
    vAxes:[
      {
      title:'code fat',
//      viewWindowMode: 'explicit',
//      viewWindow:{max:50, min:0}
      }, 
      {title:'sloc',textStyle:{color: 'red'}} // Axis 1
           ],
    explorer: { actions: ['dragToZoom', 'rightClickToReset'] } ,
    width: 600,
    height: 340
  };
  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  chart.draw(data, options); 
}  
</script>
{% endblock %}

{% block content %}
<h1 class="page-header">{{project.name}}</h1>
<div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
	  Dropdown 
	  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('update', project_id=project.id) }}">Update</a></li>
	  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('delete', project_id=project.id) }}">Delete</a></li>
  </ul>
</div>
<ul>
  <li> {{ project.codefat }}
  <li> {{ project.last_update }}
</ul>
<div id="chart_div"></div>

<h2 class="sub-header">Recent Commits</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Committed</th>
			</tr>
		</thead>
		<tbody>
			{% for commit in commits %}
			<tr>
				<td>{{commit.id}}</td>
				<td>{{commit.author}} {{commit.timestamp|datetime}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
