{% extends "layout.html" %}

{% block body %}
  <div>
	Total: {{ projects|length }} <a href="{{ url_for('update_repositories') }}" class=btn>update</a>
  </div>

  <table class="table">
   <tr>
    <th>Name</th>
    <th>Code Fat</th>
    <th>Last Commit</th>
    <th>Actions</th>
   </tr>
  {% for project in projects %}
    <tr>
      <td>{{ project.name }}</td>
      <td>{{ project.commit|codefat }}</td>
      <td>{{ project.commit|timestamp }} </td>
      <td><a href="{{ url_for('update', project_id=project.id) }}" class="btn">Update</a></td>
      <td><a href="{{ url_for('delete', project_id=project.id) }}" class="btn">Delete</a></td>
    </tr>
  {% else %}
    <tr><td colspan="3">Unbelievable. No entries here so far</td></tr>
  {% endfor %}
  </table>
{% endblock %}
