{% extends "dashboard.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

var projects = [];
var codefat = 0;
var sloc = 0;
var dloc = 0;
$(function(){
$.ajax({
  url:"{{url_for('api_projects')}}",
  context: document.body,
  dataType: "json"
}).done(function(json) {
  projects = json.result;
  for (var i in projects) {
    if (projects[i].commit.sloc < 1000) 
      continue;
    sloc += projects[i].commit.sloc;
    dloc += projects[i].commit.dloc;
  }
  if (sloc != 0) {
    codefat = (100 * (1 - dloc/sloc));
  }
  $('#project_count')[0].innerText = 'We are tracking' + projects.length + ' project(s).';
  var integral = (codefat).toFixed(0) 
  var fractional = ((codefat - Math.floor(codefat))*100).toFixed(0)
  $('#project_codefat')[0].innerHTML = integral + "<small>." + fractional + "%</small>";
  $('#total_sloc')[0].innerText = (sloc).toFixed(2);
  $('#total_dloc')[0].innerText = (dloc).toFixed(2);
  
});
});


// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

function drawChart() {
  
  var json = $.ajax({
    url: "/api/project/1",
    dataType:"json",
    async: false
  }).responseText;

  json = jQuery.parseJSON(json);
  for ( var i = 0; i < json.rows.length; i++ ) { 
        json.rows[i].c[0].v = new Date( json.rows[i].c[0].v * 1000 );
  }
  // Create our data table out of JSON data loaded from server.
  var data = new google.visualization.DataTable(json);

  var options = {
    series:{1:{targetAxisIndex:1}},
    vAxes:[
      {
      title:'code fat',
//      viewWindowMode: 'explicit',
//      viewWindow:{max:50, min:0}
      }, 
      {title:'sloc',textStyle:{color: 'red'}} // Axis 1
           ],
    explorer: { actions: ['dragToZoom', 'rightClickToReset'] } ,
    width: 600,
    height: 340
  };
  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  chart.draw(data, options); 
}  
</script>
{% endblock %}



{% block content %}
 <h1 class="page-header">Overview <small id='project_count'></small>
  <a href="{{ url_for('update_repositories') }}" class="btn">update</a>
 </h1>
 <div class="container">
   <div class="row">
     <div class="col-md-4">
<ul class="list-group">
<li class="list-group-item">Code Fat: <span id="project_codefat" style="font-size: 5em;"></span> </li>
<li class="list-group-item">Total SLOC: <span id="total_sloc"></span> </li>
<li class="list-group-item">Total DLOC: <span id="total_dloc"></span> </li>
</ul>
     </div>
     <div class="col-md-8" id="chart_div">
     </div>
   </div>
   
  </div>

  <h2 class="sub-header">Project List</h2>
  <div class="table-responsive">
  <table class="table table-striped">
	  <thead>
   <tr>
    <th>Name</th>
    <th>Code Fat</th>
    <th># of Lines</th>
    <th>Last Commit</th>
    <th>Actions</th>
   </tr>
   </thead>
   <tbody>
  {% for project in projects %}
    <tr>
      <td><a href="{{ url_for('project', project_id=project.id) }}">{{ project.name }}</a></td>
      <td>{{ project.codefat }}</td>
      <td>{{ project.sloc }} </td>
      <td><a href="{{url_for('commit',project_id=project.id)}}">{{ project.last_update }}</a></td>
      <td>
	      <a href="{{ url_for('update', project_id=project.id) }}" class="btn"><span class="glyphicon glyphicon-refresh"></span></a> 
	      <a href="{{ url_for('delete', project_id=project.id) }}" class="btn"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
  {% else %}
    <tr><td colspan="3">Unbelievable. No entries here so far</td></tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}
