<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Site trend</title>
	<style type="text/css">
	#content {
		font: 10px sans-serif;
	}
	.chart {
		width: 100%;
		height: 300px;
	}

	.axis path, .axis line {
		fill: none;
		stroke: #333;
		stroke-width: 0.5px;
	}
	.line {
		fill: none;
		stroke: steelblue;
		stroke-width: 1.5px;
	}
	.line2 {
		fill: none;
		stroke: orange;
		stroke-width: 1.5px;
	}
	.y.point {
		fill: steelblue;
	}
	.y2.point {
		fill: orange;
	}
	</style>
</head>
<body ng-controller="myController">

	<button ng-click="setPeriod('thisyear')">This year</button>
	<button ng-click="setPeriod('6month')">6 Months</button>
	<trend data="data" since="since"></trend>

	<script src="/static/js/angular.js"></script>
	<script src="/static/js/d3.js"></script>
	<script src="/static/js/metr-graph.js"></script>
	<script>
	angular.module('myApp', ['metrGraph']).
	controller('myController', ['$scope', '$http', function($scope, $http){
		$scope.data = [];
		$scope.since = new Date(2014, 0, 1)
		$http.get('/api/daily').success(function(data){
			$scope.data = data.map(function(d) {
				d.date = new Date(d.date);
				return d;
			});
		});
		$scope.setPeriod = function(period) {
			if (period === 'thisyear') {
				$scope.since = new Date(new Date().getFullYear(), 0, 1);
			} else if (period === '6month') {
				var today = new Date();
				$scope.since = new Date(today.getFullYear(), today.getMonth() - 6, today.getDate());
			}
		};
	}])
	;
	</script>
</body>
</html>
