<div ng-controller="CommitCtrl">
	<h1 class="page-header truncate" ng-bind-html="commit.title|shorten"></h1>
	<ul class="list-group">
		<li class="list-group-item">Project: <a href="#/project/{{project.id}}">{{project.name}}</a></li>
		<li class="list-group-item">
			<div style="float:left">
				Commit: <span class="sha1">{{commit.sha1}}</span>
			</div>
			<ul class="list-inline">
				<li ng-repeat="parent_id in commit.parents"><a href="#/commit/{{project.id}}/{{parent_id}}" class="sha1 badge">{{parent_id.substring(0, 7)}}</a></li>
			</ul>
		</li>
		<li class="list-group-item">Author: <a href="#/user/{{commit.author}}">{{commit.author}}</a> at {{commit.timestamp*1000|date:'short'}}</li>
		<li class="list-group-item">Code Fat: {{commit.codefat|number:2}}% ({{commit.floc|number:2}}/{{commit.sloc}})</li>
		<li class="list-group-item"><pre>{{commit.message}}</pre></li>
	</ul>

	<h2 class="sub-header">Files: {{filelist.length}} (changed: {{diffs.length}})</h2>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="showall"> Show all files</input>
		</label>
	</div>

	<div class="row" ng-show="showall">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="number-column">No.</th>
							<th>Name</th>
							<th class="number-column">SLOC</th>
							<th class="number-column">FLOC</th>
							<th class="number-column">Code Fat</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="file in filelist">
							<td class="number-column">{{$index+1}}</td>
							<td><a ng-href="{{file_url(file)}}" class="diff-status-{{file.status}}">{{file.filename}}</a></td>
							<td class="number-column">{{file.sloc|number}}</td>
							<td class="number-column">{{file.floc|number:2}}</td>
							<td class="number-column">{{file.codefat|number:2}}%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row" ng-hide="showall">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="number-column">No.</th>
							<th>Name</th>
							<th>SLOC</th>
							<th>Code Fat</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="diff in diffs">
							<td class="number-column">{{$index+1}}</td>
							<td><a href='{{url_for(diff)}}' class="diff-status-{{diff.status}}">{{diff.new.filename}}</a></td>
							<td>{{diff.old.sloc}} => {{diff.new.sloc}}</td>
							<td>{{diff.old.codefat|number:2}}% => {{diff.new.codefat|number:2}}%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
