 <h1 class="page-header">Overview <small id='project_count'></small>
 	<!--a href="{{ url_for('update_repositories') }}" class="btn">update</a-->
 </h1>
 <div class="container">
 	<div class="row">
 		<div class="col-md-4">
 			<ul class="list-group">
 				<li class="list-group-item">Code Fat: <span style="font-size: 5em;">{{summary.codefat_i}}<small>.{{summary.codefat_f}}%</small></span> </li>
 				<li class="list-group-item">Total SLOC: {{summary.total_sloc}} </li>
 				<li class="list-group-item">Total FLOC: {{summary.total_floc}} </li>
 			</ul>
 		</div>
 		<div class="col-md-8" id="chart_div">
 			loading..
 		</div>
 	</div>
</div>

<h2 class="sub-header">Project List</h2>
<div class="table-responsive">
 	<table class="table table-condensed">
 		<thead>
 			<tr>
 				<th>Name</th>
 				<th>Code Fat</th>
 				<th># of Lines</th>
 				<th>Last Commit</th>
 			</tr>
 		</thead>
 		<tbody>
 			<tr ng-repeat="project in projects">
 				<td><a href="#/project/{{project.id}}">{{ project.name }}</a></td>
 				<td>{{ project.codefat | number:2 }}%</td>
 				<td>{{ project.sloc }} </td>
 				<td><a href="#/commit/{{project.id}}/{{project.sha1}}">{{ project.last_update}}</a></td>
 			</tr>
 		</tbody>
 	</table>
 </div>
