<div ng-controller="ProjectCtrl">
  <h1 class="page-header">
    {{project.name}}
    <small style="display:inline-block;float:right;">
      <form ng-show="project.name" role="form" class="form-inline">
        <label>branch:</label>
        <select class="form-control" ng-model="project.branch">
          <option ng-repeat="branch in project.branches | orderBy: 'name'" ng-selected="branch.name == project.branch" value="{{branch.name}}">
            {{branch.name}}
          </option>
        </select>
      </form>
    </small>
  </h1>
  <div class="row">
    <div class="col-md-12" ng-show="summary">
      <ul class="list-inline summary">
        <li class="sloc">SLOC <span class="num">{{summary.sloc|number}}</span></li>
        <li class="floc">FLOC <span class="num">{{summary.floc|number:2}}</span></li>
        <li class="codefat">Code Fat <span class="num">{{summary.codefat|number:2}}%</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <trend data="trend.data" since="trend.since"></trend>
      <div style="text-align:right">
        <ul class="list-inline">
          <li ng-repeat="duration in durations">
            <button
              class="btn btn-xs btn-default"
              ng-class="{'btn-primary': trend.since === duration.since }"
              ng-click="trend.since = duration.since">{{duration.title}}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h2 class="sub-header">Authors: {{users.length}}</h2>

  <div class="row">
    <div class="col-md-12">
      Following table and pie charts shows each developers overall
      contribution to <strong>{{project.name}}</strong> project's
      <strong>{{project.branch}}</strong> branch.
      However, this contribution data may have some noise factors
      such as reverts, imports, feature drops which are hard to say
      as contribution.
      To explore the contribution data in more interactive manner,
      visit <strong>Explore</strong>(coming soon)!
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Author</th>
              <th class="number-column">#Commits</th>
              <th class="number-column">&Sigma;&Delta;SLOC</th>
              <th class="number-column">&Sigma;&Delta;FLOC</th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="user in users | orderBy: 'no_commits' : true | limitTo: limit "
              ng-mouseenter="select(user)">
              <td><a href="#/user/{{user.author}}">{{user.author}}</a></td>
              <td class="number-column">{{user.no_commits | number}}
                <span inline-pie data="[user.no_commits,commits.length]"></span>
              </td>
              <td class="number-column">{{user.delta_sloc | number}}</td>
              <td class="number-column">{{user.delta_floc | number:2}}</td>
            </tr>
          </tbody>
          <tfoot ng-show="users.length > lessLimit">
            <tr>
              <td colspan="4" align="right">
                <a href="" ng-show="lessLimit == limit" ng-click="showMoreToggle()">
                  Show {{users.length}} users...
                </a>
                <a href="" ng-show="lessLimit < limit" ng-click="showMoreToggle()">
                  Collapse
                </a>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col-md-4" align="center">
      <pie-chart data="users" selected="selectedUser" get-value="d.no_commits">
      </pie-chart>
    </div>
  </div>

  <h2 class="sub-header">Commits: {{commits.length}}</h2>

  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
        <input type="search" class="form-control search-query" placeholder="Search commit..." ng-model="q" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>No.</th>
              <th>ID</th>
              <th>Title</th>
              <th>Committed by</th>
              <th>When</th>
              <th>&Delta;SLOC</th>
              <th>&Delta;FLOC</th>
              <th>&Delta;<abbr title="Code Fat">CF</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="commit in commits | filter: q | page:currentPage:pageSize">
              <td>{{$index + pageStart}}</td>
              <td><a class="sha1" href="#/commit/{{project.id}}/{{commit.sha1}}">{{commit.sha1.substring(0,7)}}</a></td>
              <td><a href="#/commit/{{project.id}}/{{commit.sha1}}" ng-bind-html="commit.title|shorten"></a></td>
              <td><a href="#/user/{{commit.author}}">{{commit.author}}</a></td>
              <td class='truncate'>{{commit.timestamp *1000|date:'short'}}</td>
              <td>{{commit.delta_sloc}}</td>
              <td>{{commit.delta_floc|number:2}}</td>
              <td>{{commit.delta_codefat|number:2}}%</td>
            </tr>
          </tbody>
        </table>
        <pagination class="pagination-sm" total-items="(commits|filter:q).length" items-per-page="pageSize" page="currentPage"></pagination>
      </div>
    </div>
  </div>
</div>
