<h1 class="page-header">Overview</h1>
<div class="row">
	<div class="col-md-12 text-right">
		<ul class="list-inline">
			<li ng-repeat="duration in durations">
				<button
					class="btn btn-xs btn-default" 
					ng-class="{'btn-primary': since === duration.since }"
					ng-click="setSince(duration.since)">{{duration.title}}</button>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<trend data="data" since="since"></trend>
	</div>
</div>	

<div ng-controller="ProjectListCtrl">
<h2 class="sub-header">Projects: {{projects.length}}</h2>
 	<div ng-include="'static/partials/project_list.html'"></div>
</div>
